$primary:   #1E3EA1;
$secondary: #3C4561;
$success:   #208843;
$warning:   #E7B708;
$danger:    #DD0023;
$dark:      #2B3348;

$grey-darken-1: #232A3B;
$grey-darken-2: #293145;
$grey-darken-3: #313A55;
