.uiai-icon {
  mask-position: center;
  mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  display: inline-block;
}
